body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrapper {
  width: 1440px;
  background: linear-gradient(79.63deg, #5b52a3 1.08%, #40b8ea 100%);
  border-radius: 36px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-top: 45px;
  padding-left: 150px;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 260px;
}
.wrapper__suptitle,
.wrapper__subtitle,
.wrapper__title {
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: white;
}
.wrapper__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
}
.wrapper__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.wrapper__btn {
  border: none;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  color: white;
  padding: 24px 50px;
  margin-bottom: 87px;
}
// hero
.hero__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  color: #1f2428;
}
.hero__subtitle {
  @extend .hero__title;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}
